<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--This is just for testing. Do not change unless you change the tests.-->
  <appSettings>
    <add key="deadlineMonth" value="5"/>
    <add key="deadlineDay" value="31"/>
    <add key="deadlineHour" value="0"/>
    <add key="deadlineTimeZone" value="Central Standard Time"/>
  </appSettings>
</configuration>